#navbar ul li a{
                color:black;
                padding-right:5px;
                
                }
#navbar ul li a hover{
                      color:red;
                      }
   